:root {
  --main-text-color: #303030;
  --second-text-color: #555555;
  --third-text-color: #9da4bd;
  --fourth-text-color: #ffffff;
  --fifth-text-color: rgba(157, 164, 189, 0.6);
  --main-title-color: #303030;
  --second-title-color: #ffffff;
  --accent: #ff6c00;
  --main-bg-color: #ffffff;
  --second-bg-color: #f7f7f7;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:is(:hover, :focus) {
  color: var(--accent);
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: inherit;
}

.button {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid var(--accent);
  border-radius: 25px;
  color: var(--fourth-text-color);
  background-color: transparent;
  cursor: pointer;
}

.pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
/* header */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #555555;
}

.header-nav-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--fourth-text-color);
}
.header-tel {
  text-transform: uppercase;
}

/* hero */
.hero {
  background-color: #555555;
}

.hero-pre-title {
  color: var(--fifth-text-color);
}
.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}
.hero-after-title {
  color: var(--third-text-color);
}

/* about */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-title {
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 42px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.about-btn {
  color: inherit;
}

/* price */
.price {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #555555;
}

.price-pre-title {
  margin-bottom: 20px;
  color: var(--fifth-text-color);
}

.price-title {
  margin-bottom: 44px;
  color: var(--second-title-color);
}

.price-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.price-list {
  padding: 30px 20px;
  margin-bottom: 40px;
  outline: 1px solid white;
}

/* features */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-number {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
}

.features-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--second-bg-color);
}

.features-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.features-title {
  margin-bottom: 20px;
}

/* team */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--second-bg-color);
}

.team-title {
  margin-bottom: 44px;
}

.team-sub-title {
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
}

.team-text {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent);
}

/* gallery */
.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* contacts */
.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  background-color: #191c26;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-title {
  margin-bottom: 40px;
  color: var(--second-title-color);
}

.address-text {
  margin-bottom: 20px;
  font-weight: 700;
}

.address-tel {
  margin-bottom: 20px;
}

.address-text,
.address-tel,
.address-mail,
.contacts-time-text {
  display: block;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.tel-link {
  text-decoration: none;
}

.contacts-time {
  color: var(--fourth-text-color);
}

/* footer */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
